html {
  background-image: url(./images/background.jpg);
  position: relative;
  min-height: 100%;
}

h1, input, #blockdate, li {
  font-family: 'Bree Serif', Serif;
  color: antiquewhite;
  text-align: center;
}

h3, label, h4, h5, span {
  font-family: 'Alegreya', Serif;
  color: antiquewhite;
  text-align: center;
}

#block {
  border: 1px solid antiquewhite;
  font-family: 'Bree Serif', Serif;
}

/*links*/
#git, a {
  color: antiquewhite;
  text-decoration: none;
}

#hintlink:hover {
  text-decoration: underline;
}

#git:hover {
  color: black;
}

#btc:hover {
  text-decoration: underline;
}

/*button*/
button {
  font-family: 'Bree Serif', Serif;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid antiquewhite;
  padding: 0.5rem;
  color: antiquewhite;
  font-size: 1rem;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  color: black;
}

input {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border: 2px solid antiquewhite;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

input:out-of-range {
  border-color: darkred;
}

#hero {
  background-color: rgba(210, 208, 208, 0.1);
  padding: 0.5rem;
}

#input, #buttonselect, #label, #blockdate {
  display: flex;
  justify-content: center;
}

#blockdate {
  padding: 2rem;
  font-size: 2rem;
}

#foot {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
}

#footeranchor {
  height: 90vh;
  overflow-y: auto;
}

footer {
  border-top: 1px solid antiquewhite;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
}

ul i {
  align-self: center;
  color: antiquewhite;
}

li {
  margin: 1rem;
  border: 1px solid antiquewhite;
  padding: 0.05rem 0.25rem 0.25rem 0.25rem;
  background-color: rgba(210, 208, 208, 0.1);
}

#hints {
  display: none;
}

#easteregg {
  font-family: 'Bree Serif', Serif;
  text-align: center;
  color: #F7931A;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

#easteregg a {
  color: #F7931A;
  text-decoration: underline;
}

#easteregg a:hover {
  text-decoration: none;
}

#highlight {
  color: #F7931A;
}

#btcicon {
  font-size: 5rem;
  color: #F7931A;
}

/*media queries*/
@media only screen and (max-width: 770px) {
  #footeranchor {
    height: 77.5vh;
  }

  h1 {
    font-size: 150%;
  }

  #btc {
    text-decoration: underline;
  }

  ul {
    display: inline;
  }

  #hints i {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
  }

  li {
    width: 50%;
    margin: 0 auto;
  }

  html {
    background-size: 225%
  }
}
